body {
    margin: 0;
    font-family: Montserrat, Mulish;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
:root {
    --gray-1: #bdbdbd;
    --gray-2: #828282;
    --gray-3: #4f4f4f;
    --black-1: #333333;
    --fs-filter-name: 24px;
}
.text-black-1 {
    color: var(--black-1);
}
.text-gray-1 {
    color: var(--gray-1);
}
.text-gray-2 {
    color: var(--gray-2);
}
.text-gray-3 {
    color: var(--gray-3);
}
.size-0 {
    font-size: 9px;
}
.size-1 {
    font-size: 12px;
}
.size-2 {
    font-size: 14px;
}
.size-3 {
    font-size: 24px;
}
